<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="../index.html" class="logo" style="background-image: url('../img/logo.png')"></a>
    </div>

    <ul class="navbar-right">
      <li><a href="#" class="btn">Topic</a></li>
      <li><a href="#" class="btn">Create</a></li>
    </ul>

  </div>
</nav>
</body>

</html>
