<div class="post-container">
  <div class="post-logo"></div>
  <form class="post-form">
    <textarea row="8" placeholder="your message" ng-model="submit.content"></textarea>
    <label>Upload</label>
    <input type="file" ng-model="submit.image">
    <div class="post-submit">
      <select ng-click="addData()">Pac Talk!<span class="post-submit-dropdown">v</span>
        <option><a href="#">Study</a>
        </option>
        <option><a href="#">Funny</a>
        </option>
        <option><a href="#">Other</a>
        </option>
      </select>
     <button ng-click="update()">Update</button> 
    </div>
  </form>
</div>
