/*-------------------*\

#GENERALS

\*-------------------*/

body {
  font: 14px "Lucida Grande", cursive;
  background-color: #0e0e0e;
}

.btn {
  text-decoration: none;
  position: relative;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: none !important;
  top: 5px;
}
