/*-------------------*\

#GENERALS

\*-------------------*/

body {
  font: 14px "Lucida Grande", cursive;
  background-color: #0e0e0e;
}

.btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: none !important;
  top: 5px;
}

.dropdown-cover {
  position: relative;
  display: inline-block;
}

.dropdown-cover .dropdown {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0;
  list-style: outside none none;
}

.dropdown-cover:hover .dropdown{
  opacity: 1;
  z-index: 1;
}
